@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
html {
  font-size: 16px; /* 16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
  background-color: #e8eaee;
}
body {
  font: 1.6em ;
  font-family: 'Anonymous Pro', monospace;
  height: 100vh;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Barrio', cursive;
}

h1{
  font-size: 2.5em;
}

h2{
  font-size: 2em;
}

h3{
  font-size: 1.8em;
}

h4{
  font-size: 1.5em;
}

h5{
  font-size: 1.2em;
}

p, ul, li, i{
  font-size: 1em;
}

button {
  font-size: 1.6em;
}
.full-width {
  width: 100%;
}
#root {
  height: 100%;
}

.header {
  color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  width: 95%;
  margin: 0 auto;
}

.flexTheHeader{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
}

.fourHandsHeading{
  color: #333333;
  margin: 0 auto;
}

.fourHandsHeadingText{
  color: #718279;
  font-size: 3.5em;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}             

.form{
  max-width: 95%;
}

.theActualNav{
  background-color: white;
  text-decoration: none;  
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2em;
}

.theActualNav a h2{
  color: #4D453A;
}


@media only screen and (max-width: 768px) {
  .theActualNav{
    display: none;
  }

  .flexTheHeader{
    width: 100%;
  }

  .navmenu{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .navmenu a{
    font-size: 1rem;
  }

  .header{
    max-width: 95%;
  }

  .form-container{
    max-width: 90%;
  }

  .form{
    max-width: 90%;
  }

  .footerHeading{
    max-width: 80%;
  }

  .flexTheHeader{
    width: 100%;
  }

  .header{
    width: 100%;
  }

  .homepageFirstPiece{
    display: flex;
    flex-direction: column;
  }

}


@media only screen and (min-width: 1200px){

  .paraforalignment{
    height: 60%;
  }

  .linksToFlex{
    display: flex;
    flex-direction: column;
  }

}


.theActualNav h2{
  color: #333333;
}

.theActualNav h2:hover{
  color: white;
  background-color: #4D453A;
}


.brand{
  color: #333333;
  margin: 0 auto;
}

#noMargin{
  margin: 0 0;
}


.brand a {
  color: #333333;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
}

.spacebetween{
  margin: 0rem 1rem;
  color: black;
}

.navmenu{
  color: black;
  padding: 1rem;
  align-self: flex-end;
}

.header-links a {
  color: black;
  text-decoration: none;
  padding: 1em;
}
.header-links a:hover {
  color: black;
  background-color: white;
}
.main {
  margin: auto 0;
  width: 100%;
}
/* .footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
} */
a {
  text-decoration: none;
}
a:hover {
  color: black;
}
/* Home Screen */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

@media only screen and (max-width: 768px){
  .productPlacer{
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0em 0em;
  }

  .details-info{
    border: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  .fourHandsHeadingText{
    font-size: 2em;
    margin: 0 auto;
  }

  .violet h3{
    font-size: 1.5rem;
  }
  
}

@media only screen and (max-width: 768px){
  .fourHandsHeadingText{
    font-size: 1.7em;
    margin: 0 auto;
    flex-direction: row;
  }
}

.orderButton{
  cursor: pointer;
  border: 1px solid black;
  background-color: #F4F4F4;
  color: black;
  margin: 0 auto;
  display: flex;
  width: 40%;
  justify-content: center;
  align-content: center;
}


.menuTakeawaySection{
  border: 2px solid black;
  border-radius: 20px;
  padding: 2em 2em;
  margin: 0 auto;
}

.product {
  padding: 2em 0em; 
}

.product li {
  text-decoration: none;
}

.productDetail{
  padding: 2em;
}

.product img{
  width: 100%;
}

.curiousButton{
  border: 1px solid black;
  background-color: red;
  color: black;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1em;
  border-radius: 12px;
}

.product-name {
  font-size: 2em;
  font-weight: bold;
}
.product-brand {
  font-size: 1.2em;
  color: #808080;
}
.product-price {
  font-size: 2em;
  font-weight: bold;
}
.product-image {
  max-width: 34em;
  max-height: 34em;
}
.product-rating {
  margin-bottom: 1em;
}
/* Reviews */
ul.review {
  list-style-type: none;
  padding: 0;
}
.review li {
  margin: 1em;
  margin-bottom: 2em;
}
.review li > div {
  margin: 0.5em;
}

/* Rating */
.rating span {
  color: black;
  font-size: 1.8em;
  margin: 0.1em;
}
.rating span:last-child {
  color: #444444;
  font-size: 1.4em;
}
a > .rating > span:last-child {
  color: #0000ff;
}

/* Sidebar */

.brand button {
  font-size: 3rem;
  padding: 1rem;
  background: none;
  border: none;
  color: #333333;
  cursor: pointer;
}
.sidebar {
  position: fixed;
  display: none;
  transition: all 0.5s;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: black;
  padding: 2rem;
  height: 100%;
  max-width: 60%;
}

.sidebar h3{
  color: white;
}

.sidebar.open {
  transform: translateX(0);
  display: block;
}

.sidebar-close-button {
  border-radius: 50%;
  border: 0.1rem #000000 solid;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
}

/* Product Details */

.productScreenDiv{
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.details {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.details-image{
  display: flex;
  justify-content: center;
}

.details-image img {
  width: 50%;
  height: auto;
  justify-items: center;
}

.details-info {
  flex: 1 1 30rem;
}

.details-action {
  flex: 1 1 30rem;
  margin: 1rem auto;
  max-width: 70%;
}

.details-info ul,
.details-action ul {
  list-style-type: none;
  padding: 0;
}
.details-info li,
.details-action li {
  margin-bottom: 1rem;
}
.back-to-result {
  padding: 1rem;
}
.details-action {
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}
.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}
.button {
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
}
.button:hover {
  border: 0.1rem #404040 solid;
}
.button.primary {
  background-color: #f0c040;
}
.button.secondary {
  background-color: #f0f0f0;
}
.text-center {
  text-align: center;
}
/* Cart */

.cart {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  align-items: flex-start;
  min-height: 50rem;
  height: auto;
}
.cart-list {
  width: 80%;
  margin: 0 auto;
}
.cart-action {
  flex: 1 1 20rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 80%;
  margin: 0 auto;
}
.cart-list-container {
  padding: 0;
  list-style-type: none;
  padding: 1rem;
  width: 90%;
}
.cart-list-container li {
  display: flex;
  justify-content: space-between;

  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.cart-list-container li img {
  max-width: 10rem;
  max-height: 10rem;
}
.cart-list-container li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.cart-image {
  flex: 5 1;
}
.cart-name {
  display: flex;
  flex-direction: column;
  color: black;

}

.listItemCart{
  display: flex;
}

.cart-product-name{
  color: black;
}

.cart-price {
  flex: 1 1;
  font-size: 1.5rem;
  text-align: right;
}

/* forms */

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.form-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  margin: 2rem auto;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}
.form-container li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  /* border-radius: 0.5rem; */
}

/* Products */

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content-margined {
  margin: 1rem;
}

.table {
  background-color: white;
  width: 100%;
}
th {
  text-align: left;
}
tbody > tr:nth-child(odd) {
  background-color: #f0f0f0;
}

/* Checkout Steps */

.checkout-steps {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto;
}
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1 1;
  padding-top: 1rem;
}
.checkout-steps > div.active {
  border-top: 0.3rem #f08000 solid;
  color: #f08000;
}

/* Place Order */

.placeorder {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-between;
}
.placeorder-info {
  flex: 3 1 60rem;
}
.placeorder-action {
  flex: 1 1 20rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
}
.placeorder-info > div {
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
  margin: 1rem;
}
.placeorder-info > div:first-child {
  margin-top: 0;
}
.placeorder-action > ul {
  padding: 0;
  list-style-type: none;
}
.placeorder-action > ul > li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.placeorder-action > ul > li:last-child {
  font-size: 2rem;
  font-weight: bold;
  color: #c04000;
}
.placeorder-actions-payment > div {
  width: 100%;
}

/* Profile */

.profile {
  display: flex;
  flex-wrap: wrap;
}

.profile-info {
  flex: 1 1 30rem;
}
.profile-orders {
  flex: 3 1 60rem;
}

/* admin */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  background-color: white;
  color: black;
  border: 3px solid black;
  position: absolute;
  display: none;
  right: 0;
  padding: 1rem;
  list-style-type: none;
  z-index: 1;
  margin: 0;
  margin-top: 0.4rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* filter */

.filter {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 1rem auto;
  max-width: 45rem;
  justify-content: space-between;
  align-items: center;
}
.filter input,
.filter button,
.filter select {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #c0c0c0 solid;
  font-size: 1.6rem;
}
.categories {
  padding: 0;
  list-style-type: none;
  background-color: black;
}
.categories a {
  display: flex;
  padding: 1rem;
  color: white;
}

.categories a:hover {
  background-color: #c0c0c0;
}

.cartLength{
  border-radius: 50%;
  border: 1px solid black;
  width: 25px;
  color: black;
  margin: .5rem auto;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartIconAndLength{
  display: flex;
}

.burgerMenu{
  display: none;
}

@media only screen and (max-width: 768px) {
  .burgerMenu{
    display: flex;
  }

}

.barrioFont{
  font-family: 'Barrio', cursive;
}

.dancingFont{
  font-family: 'Dancing Script', cursive;
  color: #4D453A;
  display: flex;
  align-self: center;
}

.fiftyButtonWidth{
  width: 50%;
  margin: 0 auto;
}

.entireparentcontainer{
  width: 100%;
  margin: 0 auto;
}

.aboutContainer{
  background-color: white;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: auto;
}


.formAndMoreNewsletter{
  padding: 4em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepageFirstPiece{
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.abouttopImage{
  display: flex;
  justify-content: center;
}

.abouttopImage img {
  width: 80%;
}

.ProductsFromMenu{
  border: 2px solid black;
  margin: 0 auto;
  width: 50%;
  padding: 1em 1em;
}

.takeawayDetails{
  display: flex;
  justify-content: space-evenly;
}

.covid{
  background-color: yellow;
  color: black;
}

.products{
  display: flex;
  justify-content: space-evenly;
}

.product{
  border: 2px solid black;
}

img.small {
  max-width: 5rem;
  width: 100%;
}

.checkout{
  background-color: green;
  padding: 1rem 2rem;
  display: inline;
  width: 100%;
  color: white;
}

.whiteText{
  color: white;
}

.black-text{
  color: black;
}

.qtywidth{
  width: 2rem;
}

#products{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-items: center;
}

.product-padding-section{
  border: 1px solid black;
  margin: 2rem auto;
  width: 20rem;
}

.buttonDivHomepageProduct{
  display: flex;
  justify-content: space-evenly;
}

.product-data{
  padding: 1rem 2rem;
}

.details-info{
  border: 1px solid black;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.data-on-product{
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerThisUL{
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.centerThisSecondUL{
  display: flex;
  flex-direction: column;
  padding: 3rem 3rem;
  border: 1px solid grey;
  margin: 2rem auto;
}

.flexTakeawayDetails{
  display: flex;
  justify-content: space-evenly;
}
